#navigazione {
    position: relative;
    right: 400px;
}

#accessi {
    position: relative;
    right: 250px;
}

#logo {
    position: relative;
    left: 30px;
    height: 150px;
    width: 150px;
}

.hero-section {
    background-image: url('https://via.placeholder.com/1920x1080');
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
}