#giallo{
    background-color: #FFC011;
}

#logo{
    width: 288px;
    margin-top: -20px;
}

h3{
   font-size: 30px; 
}

#plus{
    width: 31px;
    margin-left: -200px;
    margin-top: 20px;
}

.bottone{
    width:150px;
    background-color: #FFC011;
    border: none;
    margin-top: 19px;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
}

body{
    height: 100vw;
}


